body {
  margin: 0;
  position: relative;
}

.canvas-wrapper {
  position: relative;
}

.canvas-wrapper canvas {
  position: absolute;
}

.canvas-wrapper canvas.marker-layer {
  pointer-events: none;
}

a.save-button {
  position: absolute;
  top: 6px; right: 6px;
  color: darkorange;
  text-decoration: none;
}

a.save-button:hover {
  text-decoration: underline;
}
